[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langgraph = "*"
ipykernel = "*"
python-dotenv = "*"
langchain-openai = "*"
pandas = "*"
openpyxl = "*"
matplotlib = "*"
seaborn = "*"
scikit-learn = "*"

[requires]
python_version = "3.13"

[dev-packages]
